//-A set of three cards that can be used on multiple pages
block cards
mixin card(image, alter, title, lnk, desc)
  .col-6
      .card.border-success.bg-white(style = {display: inline-block})
        img.card-img-top.rounded.img-fluid(src=image alt=alter)
        .card-body
          h5.card-title=title
          p.card-text=desc
          a.btn.btn-primary(href=lnk) Go
.container
  .row.h-100.justify-content-center
    +card("https://cutewallpaper.org/21/search-icon-transparent-background/Download-Free-Png-Search-Find-Zoom-Magnifying-Glass-.png", "Search Icon", "Find a Charger", "../search", "Search for chargers near your current location! You can search by charger type!")
    +card("https://freepngimg.com/download/united_states/76079-google-computer-icons-states-maps-united-location.png", "Directions Icon", "Plan A Route - COMING SOON!", "../directions", "Plan a route and see what chargers are availible along the way!")
    //-+card("#", "#")