extends layout.pug
block main
  .container
    h1 Results
    #map
    table#chargers
      thead
        tr
          th Name
          th Address
          th Lattitude, Longitude
      tbody
        each charger in chargers
          tr
            td= charger.address.title
            td #{charger.address.addressLine} #{charger.address.town}, #{charger.address.state} #{charger.address.postalCode}
            td #{charger.pos.lat}, #{charger.pos.lng}
      
