extends layout.pug
block main
  .container
    h1 Results

    table.table-responsive.table-hover#chargers
      thead
        tr
          th Name
          th Address
          th
          th.d-none Lattitude, Longitude
      tbody
        each charger in chargers
          tr
            // make the whole line clickable to bring you to detail page
            td= charger.address.title
            td #{charger.address.addressLine} #{charger.address.town}, #{charger.address.state} #{charger.address.postalCode}
            td 
              a(href="/detail/" + charger.id) #{charger.id}
            td.d-none #{charger.pos.lat}, #{charger.pos.lng}
