extends layout.pug
block main
  .container
    .row.justify-content-center
      form.col-8(action='/search_results' method='post')
        h1.text-center Find A Charger
        .form-group.row.justify-content-center
          // label(for='location') Location*
          input.col-md-6#location.form-control(type='text' name="location" placeholder="Location" required)
        // ChargerTypes:ID 
          1 = low und 2kW
          2 = med over 2kW
          3 = high over 40kW
        .form-group.row.justify-content-center
          .card.col-md-3.mr-3.form-group
            h6 Charger Types
            .form-inline.mb-2
              input.form-check.mr-2#level1(type="checkbox" name="chargerType" value="1")
              label(for='level1') Level 1 Charger
            .form-inline.mb-2
              input.form-check.mr-2#level2(type="checkbox" name="chargerType" value="2")
              label(for='level2') Level 2 Charger
            .form-inline.mb-2
              input.form-check.mr-2#level3(type="checkbox" name="chargerType" value="3")
              label(for='level3') Level 2 Charger
              
          .card.col-md-3.form-group
            h6 Connection Type
            .form-inline.mb-2
              input.form.check.mr-2#j1772(type="checkbox" name="connectionType" value="7")
              label(for=j1772) (type 1) J1772
            .form-inline.mb-2
              input.form.check.mr-2#ccs1(type="checkbox" name="connectionType" value="32")
              label(for=ccs1) (type 1) CCS
            .form-inline.mb-2
              input.form.check.mr-2#ccs2(type="checkbox" name="connectionType" value="33")
              label(for=ccs2) (type 2) CCS
            .form-inline.mb-2
              input.form.check.mr-2#chademo(type="checkbox" name="connectionType" value="2")
              label(for=chademo) CHAdeMO
            .form-inline.mb-2
              input.form.check.mr-2#tesla(type="checkbox" name="connectionType" value="30")
              label(for=tesla) Tesla

        .form-row.form-inline.justify-content-center
          .form-check.col-sm-3.mr-3
            input.form-check.mr-2#isPublic(type="checkbox", name="isPublic", checked)
            label(for='isPublic') Public Chargers Only
          .form-group.col-sm-3
            label(for='radius') Radius(mi):
            select(name="radius")#radius.form-control
              option(value='1') 1
              option(value='5') 5
              option(value='10') 10
              option(value='15') 15
              option(value='25') 25
              option(value='50') 50
          .form-group
            input#lat(name="lat" type="hidden" display="false")
          .form-group
            input#lng(name="lng" type="hidden" display="false")
    
        .row.justify-content-center
          input.btn.btn-primary.col-2(type='submit' value='Go')
